<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>simple c'n'c</title>
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="1800" />
    <meta name="viewport" content="width=device-width" />
  </head>
  
  <body>
    <div id="clock-screen" class="big">
      <div id="clock">
        <p id="display"></p>
      </div>
    </div>
        
    <div id="info-screen" class="big">
      

      <iframe id="radio" src="http://lar.local/radio/"></iframe>

      <div id="papir"
           class="soeppel
           {% if events.papir %}
             aktiv
           {% else %}
             inaktiv
           {% endif %}
           ">
        <p>Papir</p>
      </div>
      <div id="gul_sekk"
           class="soeppel
           {% if events.gul_sekk %}
             aktiv
           {% else %}
             inaktiv
           {% endif %}
           ">
        <p>Gul sekk</p>
      </div>
      <div id="rest"
           class="soeppel
           {% if events.rest %}
             aktiv
           {% else %}
             inaktiv
           {% endif %}
           ">
        <p>Restsøppel</p>
      </div>


      <div id="div_viktig">
        Diverse viktig
      </div>

<!--      <div id="vaeret"> -->
        <iframe id="de_ru_img" src="http://localhost:8080/static/de_ru_png.html"></iframe>
      <!-- </div> -->
    </div>
      
  </body>
  <script src="static/clockDiv.js"></script>
</html>
