<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>simple c'n'c</title>
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="1800" />
    <meta name="viewport" content="width=device-width" />
  </head>
  
  <body>

    <iframe id="radio" src="http://lar.local/radio/"></iframe>

    <div id="div_viktig">
      Diverse viktig
    </div>

    <div id="papir"
         class="soeppel 
         {% if events.papir %}
           aktiv
         {% endif %}
         "></div>
    <div id="gul_sekk"
         {% if events.gul_sekk %}
           class="aktiv"
         {% endif %}
         ></div>
    <div id="rest"
         {% if events.rest %}
           class="aktiv"
         {% endif %}
         ></div>

    <div id="vaeret">
      <img id="de_ru" src="http://lar.local/weather_info/de_ru.png" />
    </div>
      
  </body>
</html>
